@model CreateUpdateUserViewModel

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Create User</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post">
            <div class="border p-3">

                <div class="mb-3 row p-1">
                    <label asp-for="Name" class="p-0"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="UserName" class="p-0"></label>
                    <input asp-for="UserName"  class="form-control" value=""/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Password" class="p-0"></label>
                    <input asp-for="Password" type="password" class="form-control" value="" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Role" class="p-0"></label>
                    <select asp-for="Role" class="form-control" asp-items="Model.RoleList">
                        <option value="">-- Select Role --</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Street" class="p-0"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="City" class="p-0"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Suburb" class="p-0"></label>
                    <input asp-for="Suburb" class="form-control" />
                    <span asp-validation-for="Suburb" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="PostCode" class="p-0"></label>
                    <input asp-for="PostCode" class="form-control" />
                    <span asp-validation-for="PostCode" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="ApplicationUser" asp-action="Index" class="btn btn-light border form-control">Back to List</a>
                    </div>
                </div>


            </div>
        </form>

    </div>

</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}