@{
    ViewData["Title"] = "Contact Us";
}

<div class="row">
    <div class="col-md-6">
        <h1>Contact Us</h1>
        <p>We'd love to hear from you! Please use the information below to get in touch.</p>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">Email:</dt>
            <dd class="col-sm-8"><a href="mailto:bookbazaarnz@gmail.com">bookbazaarnz@gmail.com</a></dd>

            <dt class="col-sm-4">Phone Number:</dt>
            <dd class="col-sm-8">09 815 1717 (Monday - Friday, 10 AM - 5 PM NZST excluding holidays)</dd>

            <dt class="col-sm-4">Location:</dt>
            <dd class="col-sm-8">Stall 1, 3058 Great North Road, New Lynn, Auckland 0640</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img src="~/images/book_image.png" alt="Stock image of books" class="img-fluid" width="600" height="400" />
    </div>
</div>